<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome QR</title>
</head>
<body>
    <p>User: {{nick}}</p>
    <p>Secreto: {{secret}}</p>
    <img alt="QR image" src="{{image}}"/>
</body>
</html>

